{% extends 'main.html' %}
{% block content %}
  <p>안녕하세요, 여기는
    {{ page }}
    페이지 입니다.</p>
  <h1>projects tenplate</h1>
  {% if number == 10 %}
    <p>숫자가 10 입니다!</p>
  {% elif number > 10 %}
    <p>숫자가 10보다 큽니다!</p>
  {% else %}
    <p>숫자가 10보다 작습니다!</p>
  {% endif %}
  <hr/>

  <h1>projects</h1>
  <ul>
    {% for project in projects %}
      <li>Title:<a href="{% url 'project' project.id %}">{{ project.title }}</a>
        ---
        {{ project.description }}</li>
    {% endfor %}
  </ul>

{% endblock content %}
